/* Ste added */
body {
  font-family: 'Droid Sans';
}
a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
.navbar .nav {
  top: 24px;
}
.navbar-search {
  margin-top: 29px;
}
.navbar-search input[type="text"] {
    height:30px;
    }
.navbar-inner {
  background-color: #40454F;
  background-image: -moz-linear-gradient(top, #5b6270, #40454F);
  background7-image: -ms-linear-gradient(top, #5b6270, #40454F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#40454F), to(#5b6270));
  background-image: -webkit-linear-gradient(top, #5b6270, #40454F);
  background-image: -o-linear-gradient(top, #5b6270, #40454F);
  background-image: linear-gradient(top, #5b6270, #40454F);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5b6270', endColorstr='#40454F', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar-inverse .navbar-inner {
  background-color: #40454F;
  background-image: -moz-linear-gradient(top, #5b6270, #40454F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5b6270), to(#40454F));
  background-image: -webkit-linear-gradient(top, #5b6270, #40454F);
  background-image: -o-linear-gradient(top, #5b6270, #40454F);
  background-image: linear-gradient(to bottom, #5b6270, #40454F);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b6270', endColorstr='#40454F', GradientType=0);
  border-color: #252525;
}
.navbar-inverse .nav > li,
.navbar-inverse .nav > li > a {
  font-family: 'Droid Sans';
  font-weight: 400;
  font-size: 14px;
  color: whitesmoke;
  }
.navbar-inverse .nav > li > a:hover {
color: #a8a9ad;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
  color: #ffffff;
}
.navbar-inverse .navbar-search .search-query {
  background-color: #373b42;
  border-color: #4b4b4b;
  }
.social-icons i{
  color:#333;
  font-size:48px;
}
.social-icons a i:hover{
  color:#08C;
}
.social-icons li a:hover{
  background:none !important;
}
#footer-colophon,
#social-icons ul li {
  padding: 5px 0;
}
.keyvisualbla {
  background: #a5d17a; /* Old browsers */
  background: -moz-linear-gradient(top, #a5d17a 1%, #87c24e 48%, #69b322 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a5d17a), color-stop(48%,#87c24e), color-stop(100%,#69b322)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a5d17a 1%,#87c24e 48%,#69b322 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a5d17a 1%,#87c24e 48%,#69b322 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a5d17a 1%,#87c24e 48%,#69b322 100%); /* IE10+ */
  background: linear-gradient(to bottom, #a5d17a 1%,#87c24e 48%,#69b322 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5d17a', endColorstr='#69b322',GradientType=0 ); /* IE6-9 */
}
.zopyx-slide {
 /* margin-top:20px;*/
  }
.keyvisual {
  width: 100%;
  height: 340px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: transparent url(../img/keyvisual-bg03.png) repeat 0% 0%;
  border-bottom: 5px solid #f6f6f6 !important;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
  -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
  box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
}
.zopyx-slide h2 {
  color: #fff;
  font-size: 36px;
  width: 48%;
  white-space: nowrap;
  z-index: 10;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  font-family: 'Droid Sans', Arial, sans-serif !important;
  font-weight: 700;
  background: rgba(91,192,222,.8);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-8 */
  padding: 32px 20px;
  margin-left: 66px;
}
.zopyx-slide p {
  background: rgba(91,192,222,.8);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-8 */
  width: 48%;
  padding: 32px 20px 26px 20px;
  top: 156px;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  height: 80px;
  font-style: italic;
  font-family: 'Economica', Arial, sans-serif !important;
  font-weight: 400;
  font-style: italic;
  margin-left: 66px;
}
.zopyx-slide .keyvisual-img {
  top: 0px;
  left: 60%;
  position: absolute;
  opacity: 1;
  background: rgba(91,192,222,.8);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-8 */
  top: 0px;
  padding:12px;
}
.zopyx-slide .keyvisual-link {
  border-radius: 26px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border: 8px solid rgba(255,255,255,0.8);  
  padding: 2px 20px 0px;
  line-height: 30px;
  width: 80px;
  text-align: center;
  background: rgba(255,255,255,0.2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33ffffff',GradientType=0 ); /* IE6-8 */
  margin-left:66px;
}

.zopyx-slide .keyvisual-link {
  background: rgba(255,255,255,0.3);
}
.welcome-news {
  padding:35px 0;
}
.welcome-image {
  margin-top: 15px;
}
.welcome-main p a {
color: #454545;
-moz-transition: color 0.3s linear;
-o-transition: color 0.3s linear;
-webkit-transition: color 0.3s linear;
transition: color 0.3s linear;
text-decoration: none;
}
.welcome-main p a:hover {
color: #B2B1B1;
}
.news-box {
  background-color: whiteSmoke;
-webkit-box-shadow: -2px 1px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow: -2px 1px 5px rgba(50,50,50,0.75);
box-shadow: -2px 1px 5px rgba(50, 50, 50, 0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.news-box p {
  padding-right: 20px;
  padding-left: 20px;
}
.ref-images {
width: 220px;
padding: 0px 5px;
}
#ref-slider {
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
margin-left: 0;
padding: 0;
}
#ref-slider img {
  display: inline;
  text-align: center;
}
#ref-slider .carousel-inner {
  text-align: center;
}
.mainnews {
  
}
.mainnews h3{
  padding: 6px;
}
ul.news-list {  
  padding: 6px;
  margin: 0; 
  background:whitesmoke;  
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
ul.news-list li:hover {   
  background:white;  
}
ul.news-list li {
  display: table;
  list-style: none;  
  border-bottom: 1px solid #D2D2D2;
  border-top: 1px solid #FFF;
}
ul.news-list li:first-child {
  padding-top: .75em;
  border-top: none; 
}

ul.news-list li:last-child {
  padding-bottom: 0;
}
ul.news-list li:last-child {
  border-bottom: none;
}
ul.news-list .news-icon {
  display: table-cell;
  vertical-align: top;
}
ul.news-list .news-text {
  display: table-cell;
  padding-left: 1em;
  vertical-align: top; 
  color: #444;
  width:100%;
}
ul.news-list h6 {
  margin:0;
}
ul.news-list h6 a {
  color:#454545;
}
/* ----------------------- ticketinfos ************/
.ticketinfos {
  background: #b8b8bf;
  border: 1px solid #b8b8bf;
  padding: 20px;
  line-height: 21px;
  -webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
}

.ticketinfos-bg {
  background: url(../img/ticketinfos-bg.png) no-repeat;
  margin-top: -1px;
  display: block;
  width: 200px;
  height: 30px;
} 

.ticketinfos-author {
  color: #666;
  float: left;
  display: block;
  margin-left: 60px;
  margin-top: -26px;
  margin-bottom: 20px;
}

.ticketinfos-author span {
  color:#a0a0a0
}
footer {
  background:whitesmoke;
}
footer h4, footer h3, footer h2 {
  color:white;
  font-weight: normal;
}
#footer-linklist a {
    color: black;
}
footer li a {
  color:#B1B1B1;
  font-weight: normal;
}
footer p {
  color:#333;
}
footer h3, footer h4 {
  padding:5px 0;
}
footer a:hover {
  color:whiteSmoke;
}
#footer-linklist ul {
    margin-left:0;
    }
#footer-linklist ul li {
    list-style-type:none;
    }
#footer-colophon {
  background: transparent url(../img/keyvisual-bg03.png) repeat 0% 0%;
}
article {
    margin-bottom: 1em;
}

table#memberships-vertical, 
table#logos-horizontal,
table#memberships-horizontal {
    width: 100%;
}

table#logos-horizontal td,
table#memberships-horizontal td {
    text-align: center;
}

table#memberships-vertical td {
    padding-bottom: 20px;
}

.callout {
    border-left: 10px solid grey;
    padding-left: 1em;
}

.documentDescription {
    font-size: 20px;
    margin-bottom: 1em;
}

/* Blog */

#blog-listing .row {
    margin-left: 0px !important;
}

#blog-listing .blog-content {
    margin-bottom: 2em;
}

#blog-listing .blog-content {
    margin-bottom: 2em;
    margin-left: 0px !important;
}

#blog-listing .blog-item {
    margin-top: 1em;
    margin-left: 0px;
}

#blog-listing img.newsImage {
    max-width: 150px;
}

#blog-listing .documentFirstHeading {
    font-size: 24px;
}

#blog-listing .documentDescription {
    font-size: 16px;
}

#content-core .row {
    margin-left: 0;
}

.section-andreas-jung h1.documentFirstHeading {
    display: none;
}

.formHelp {
    display: block;
    font-size: 0.8em;
    color: #666666;
}

.fieldRequired {
    display: none;
}

.fieldErrorBox {
    color: red;
    font-size: 0.8em;
}

.context-weitere-technologien .text {
    -o-column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-fill: auto;
}

.context-weitere-technologien ul {
    -o-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
}

/* Hide search field in search.pt */
#search-field input {
    display: none;
}
