/* Ste added */
body {
  font-family: 'Droid Sans';
}
a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
.navbar .nav {
  top: 24px;
}
.navbar-search {
  margin-top: 29px;
}
.navbar-search input[type="text"] {
    height:30px;
    }
.navbar-inner {
  background-color: #40454F;
  background-image: -moz-linear-gradient(top, #5b6270, #40454F);
  background7-image: -ms-linear-gradient(top, #5b6270, #40454F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#40454F), to(#5b6270));
  background-image: -webkit-linear-gradient(top, #5b6270, #40454F);
  background-image: -o-linear-gradient(top, #5b6270, #40454F);
  background-image: linear-gradient(top, #5b6270, #40454F);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5b6270', endColorstr='#40454F', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar-inverse .navbar-inner {
  background-color: #40454F;
  background-image: -moz-linear-gradient(top, #5b6270, #40454F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5b6270), to(#40454F));
  background-image: -webkit-linear-gradient(top, #5b6270, #40454F);
  background-image: -o-linear-gradient(top, #5b6270, #40454F);
  background-image: linear-gradient(to bottom, #5b6270, #40454F);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b6270', endColorstr='#40454F', GradientType=0);
  border-color: #252525;
}
.navbar-inverse .nav > li,
.navbar-inverse .nav > li > a {
  font-family: 'Droid Sans';
  font-weight: 400;
  font-size: 14px;
  color: whitesmoke;
  }
.navbar-inverse .nav > li > a:hover {
color: #a8a9ad;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
  color: #ffffff;
}
.navbar-inverse .navbar-search .search-query {
  background-color: #373b42;
  border-color: #4b4b4b;
  }
.social-icons i{
  color:#333;
  font-size:48px;
}
.social-icons a i:hover{
  color:#08C;
}
.social-icons li a:hover{
  background:none !important;
}
#footer-colophon,
#social-icons ul li {
  padding: 5px 0;
}
.keyvisualbla {
  background: #a5d17a; /* Old browsers */
  background: -moz-linear-gradient(top, #a5d17a 1%, #87c24e 48%, #69b322 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a5d17a), color-stop(48%,#87c24e), color-stop(100%,#69b322)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a5d17a 1%,#87c24e 48%,#69b322 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a5d17a 1%,#87c24e 48%,#69b322 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a5d17a 1%,#87c24e 48%,#69b322 100%); /* IE10+ */
  background: linear-gradient(to bottom, #a5d17a 1%,#87c24e 48%,#69b322 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5d17a', endColorstr='#69b322',GradientType=0 ); /* IE6-9 */
}
.zopyx-slide {
 /* margin-top:20px;*/
  }
.keyvisual {
  width: 100%;
  height: 340px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: transparent url(../img/keyvisual-bg03.png) repeat 0% 0%;
  border-bottom: 5px solid #f6f6f6 !important;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
  -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
  box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
}
.zopyx-slide h2 {
  color: #fff;
  font-size: 36px;
  width: 48%;
  white-space: nowrap;
  z-index: 10;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  font-family: 'Droid Sans', Arial, sans-serif !important;
  font-weight: 700;
  background: rgba(91,192,222,.8);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-8 */
  padding: 32px 20px;
  margin-left: 66px;
}
.zopyx-slide p {
  background: rgba(91,192,222,.8);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-8 */
  width: 48%;
  padding: 32px 20px 26px 20px;
  top: 156px;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  height: 80px;
  font-style: italic;
  font-family: 'Economica', Arial, sans-serif !important;
  font-weight: 400;
  font-style: italic;
  margin-left: 66px;
}
.zopyx-slide .keyvisual-img {
  top: 0px;
  left: 60%;
  position: absolute;
  opacity: 1;
  background: rgba(91,192,222,.8);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-8 */
  top: 12px;
  padding:10px;
}
.zopyx-slide .keyvisual-link {
  border-radius: 26px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  color: #333;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border: 6px solid rgba(255,255,255,0.8);  
  padding: 2px 20px 0px;
  line-height: 30px;
  width: 80px;
  text-align: center;
  background: rgba(255,255,255,0.2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33ffffff',GradientType=0 ); /* IE6-8 */
  margin-left:66px;
}

.zopyx-slide .keyvisual-link {
  background: rgba(255,255,255,0.3);
}
.welcome-news {
  padding:35px 0;
}
.welcome-image {
  margin-top: 15px;
}
.welcome-main p a {
color: #454545;
-moz-transition: color 0.3s linear;
-o-transition: color 0.3s linear;
-webkit-transition: color 0.3s linear;
transition: color 0.3s linear;
text-decoration: none;
}
.welcome-main p a:hover {
color: #B2B1B1;
}
.news-box {
  background-color: whiteSmoke;
-webkit-box-shadow: -2px 1px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow: -2px 1px 5px rgba(50,50,50,0.75);
box-shadow: -2px 1px 5px rgba(50, 50, 50, 0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.news-box p {
  padding-right: 20px;
  padding-left: 20px;
}
.ref-images {
width: 220px;
padding: 0px 5px;
}
#ref-slider {
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
margin-left: 0;
padding: 0;
}
#ref-slider img {
  display: inline;
  text-align: center;
}
#ref-slider .carousel-inner {
  text-align: center;
}
.mainnews {
}
.mainnews a h3{
    color: rgb(51,51,51);
}
ul.news-list {  
  padding: 6px;
  margin: 0; 
  background:whitesmoke;  
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
ul.news-list li:hover {   
  background:white;  
}
ul.news-list li {
  display: table;
  list-style: none;  
  border-bottom: 1px solid #D2D2D2;
  border-top: 1px solid #FFF;
}
ul.news-list li:first-child {
  padding-top: .75em;
  border-top: none; 
}

ul.news-list li:last-child {
  padding-bottom: 0;
}
ul.news-list li:last-child {
  border-bottom: none;
}
ul.news-list .news-icon {
  display: table-cell;
  vertical-align: top;
}
ul.news-list .news-text {
  display: table-cell;
  padding-left: 1em;
  vertical-align: top; 
  color: #444;
  width:100%;
}
ul.news-list h6 {
  margin:0;
}
ul.news-list h6 a {
  color:#454545;
}
/* ----------------------- ticketinfos ************/
.ticketinfos {
  background: #b8b8bf;
  border: 1px solid #b8b8bf;
  padding: 20px;
  line-height: 21px;
  -webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
}

.ticketinfos-bg {
  background: url(../img/ticketinfos-bg.png) no-repeat;
  margin-top: -1px;
  display: block;
  width: 200px;
  height: 30px;
} 

.ticketinfos-author {
  color: #666;
  float: left;
  display: block;
  margin-left: 60px;
  margin-top: -26px;
  margin-bottom: 20px;
}

.ticketinfos-author span {
  color:#a0a0a0
}
footer {
  background:whitesmoke;
}
footer h4, footer h3, footer h2 {
  color:white;
  font-weight: normal;
}
#footer-linklist a {
    color: black;
}
footer li a {
  color:#B1B1B1;
  font-weight: normal;
}
footer p {
  color:#333;
}
footer h3, footer h4 {
  padding:5px 0;
}
footer a:hover {
  color:whiteSmoke;
}
#footer-linklist ul {
    margin-left:0;
    }
#footer-linklist ul li {
    list-style-type:none;
    }
#footer-colophon {
  background: transparent url(../img/keyvisual-bg03.png) repeat 0% 0%;
}
article {
    margin-bottom: 1em;
}

table#memberships-vertical, 
table#logos-horizontal,
table#memberships-horizontal {
    width: 100%;
}

table#logos-horizontal td,
table#memberships-horizontal td {
    text-align: center;
}

table#memberships-vertical td {
    padding-bottom: 20px;
}

.callout {
    border-left: 10px solid grey;
    padding-left: 1em;
}

.documentDescription {
    font-size: 16px;
    margin-bottom: 1em;
    line-height: 1.2em;
}

/* Blog */

#blog-listing .row {
    margin-left: 0px !important;
}

#blog-listing .blog-content {
    margin-bottom: 2em;
}

#blog-listing .blog-content {
    margin-bottom: 2em;
    margin-left: 0px !important;
}

#blog-listing .blog-item {
    margin-top: 1em;
    margin-left: 0px;
}

#blog-listing img.newsImage {
    max-width: 150px;
}

#blog-listing .documentFirstHeading {
    font-size: 24px;
}

#blog-listing .documentDescription {
    font-size: 16px;
}

.portal-type-news-item h1.documentFirstHeading, 
.blog-item h1.documentFirstHeading {
    display: block !important;
}

#content-core .row {
    margin-left: 0;
}

.context-andreas-jung h1.documentFirstHeading {
    display: none;
}

.formHelp {
    display: block;
    font-size: 0.8em;
    color: #666666;
}

.fieldRequired {
    display: none;
}

.fieldErrorBox {
    color: red;
    font-size: 0.8em;
}

.context-weitere-technologien .text {
    -o-column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-fill: auto;
}

.context-weitere-technologien ul {
    -o-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
}

/* Hide search field in search.pt */
#search-field input {
    display: none;
}



/* Listing 2x view */
.listing2col .row {
    margin-bottom: 1em;
}
.listing2col .image-block {
    height: 200px;
}

.listing2col .read-more {
    margin-top: 1em;
}

.listing2col .description {
    max-width: 200px;
    font-size: 1em;
}

.listing2col-260 .description {
    max-width: 260px;
}

.listing2col-260 img {
    width: 260px;
    height: 200px;
}

/* project references listing */
.project-references .no-filters,
.project-references .filters {
    list-style-type: none;
    margin: 0;
    padding: 0;
}   

.project-references .no-filters {
    margin-top: 4px;
}

.project-references .filters li:first-child {
    width: 150px;
}

.project-references .filters li {
    display: inline;
}

.project-references .filters button {
    min-width: 80px;
    margin-right: 10px;
    margin-bottom: 0.5em;
}

.project-references #container .item {
    width: 225px;
    height: 160px;
    padding-right: 0px;
    text-align: center;
    float: left;
    position: relative;
    line-height: 160px;
}
.project-references .item a {
    border: 1px solid white;
    margin: auto;
    vertical-align: middle;
}

.project-references .isotope, 
.project-references .isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.project-references .isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.project-references .isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.project-references .isotope.no-transition,
.project-references .isotope.no-transition .isotope-item,
.project-references .isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* News summary */


#news-summary .listing-row {
    margin-bottom: 1.5em;
    margin-left: 0px !important;
}
#news-summary div img {
    margin-top: 10px;
}
#news-summary .image-block {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#news-summary button.read-more {
    margin-top: 1em;
}
#news-summary h4 a {
    color: black;
}


/* this makes it possible to add next button beside scrollable */
#scrollable-references {
    float:left;
}

/* prev, next, prevPage and nextPage buttons */
.scrollable a.browse {
    background:url(../img/hori_large.png) no-repeat;
    display:block;
    width:30px;
    height:30px;
    float:left;
    margin:40px 10px;
    cursor:pointer;
    font-size:1px;
    margin-top: 60px;
}

/* right */
.scrollable a.right { background-position: 0 -30px; clear:right; margin-right: 0px;}
.scrollable a.right:hover { background-position:-30px -30px; }
.scrollable a.right:active { background-position:-60px -30px; }


/* left */
.scrollable a.left { margin-left: 0px; }
.scrollable a.left:hover  { background-position:-30px 0; }
.scrollable a.left:active { background-position:-60px 0; }

/* up and down */
.scrollable a.up, 
.scrollable a.down  {
    background:url(../img/vert_large.png) no-repeat;
    float: none;
    margin: 10px 50px;
}

/* up */
.scrollable a.up:hover { background-position:-30px 0; }
.scrollable a.up:active { background-position:-60px 0; }

/* down */
.scrollable a.down { background-position: 0 -30px; }
.scrollable a.down:hover { background-position:-30px -30px; }
.scrollable a.down:active { background-position:-60px -30px; }


/* disabled navigational button */
.scrollable a.disabled {
    visibility:hidden !important;
}

#scrollable-references {
    position:relative;
    overflow:hidden;
    width: 950px;
    height: 150px;
}

#scrollable-references .items {
    /* this cannot be too large */
    width:20000em;
    position:absolute;
    clear:both;
}

#scrollable-references .items div {
    width:1000px;
}

#scrollable-references img {
    background-color:#fff;
    width:150px;
    padding-left: 40px;
    padding-right: 40px;
}

#scrollable-references .active {
    position:relative;
    cursor:default;
}

#references-cycler .img-container {
    display: table-cell;
    vertical-align: middle;
    height: 150px !important;
    width: 150px;
}

#references-cycler .img-container img {
    vertical-align: middle;
}

/* Project references */
#refCarousel .caption {
    font-weight: bold;
    margin-top: 0.5em;
}

#refCarousel img {
    border: 1px dashed #eeeeee;
}

div.image-container
{
    position: relative;
    width: 150px;
    height: 150px;
}

div.image-container img
{
    position: absolute;
    left: 0;
    top: 0;
}
/* Media queries ******************/
@media only screen and (max-width: 767px) {
    .zopyx-slide .keyvisual-img {
    display:none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .zopyx-slide h2 {
        width: 45%;
        padding:12px 20px;        
        font-size: 16px;
    }
    .zopyx-slide p {
        font-size: 16px;
        padding:6px 20px 32px 20px;        
        width: 45%;
    }   
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .zopyx-slide h2 {
        font-size: 16px;
        width: 70%;
        top: 50px;
        padding: 18px 20px 18px 20px;
        font-size: 16px;
    }
    
    .zopyx-slide p { 
        width: 70%;
        top: 126px;
        font-size: 16px;
        padding: 18px 20px 18px 20px;
    }

    .zopyx-slide .keyvisual-img {
    display:none;
    }
}
@media only screen and (max-width: 479px) {
    .zopyx-slide h2 {
        font-size: 16px;
        width: 80%;
        top: 44px;
        margin-left:22px;
        padding: 18px 20px 18px 20px;
        font-size: 16px;
    }
    .zopyx-slide p { 
        width: 80%;
        top: 100px;
        margin-left:22px;
        font-size: 12px;
        padding: 18px 20px 18px 20px;
    }
    .bx-controls-direction,
    .zopyx-slide .keyvisual-img {
    display:none;
    }
}

/* References bxSlider */

.portal-type-zopyx-policy-projectreference .bx-wrapper {
    width: 500px !important;
    margin: 0 auto !important;
    margin-top: 2em !important;
}

.portal-type-zopyx-policy-projectreference  .caption {
    margin-top: 2em;
    text-align: center;
}

.portal-type-zopyx-policy-projectreference  .bx-prev {
    margin-left: -100px;
}

.portal-type-zopyx-policy-projectreference  .bx-next {
    margin-right: -100px;
}

.portal-type-zopyx-policy-projectreference  .bx-controls {
    padding-bottom: 2em;
}

.portal-type-zopyx-policy-projectreference  .bx-controls {
    padding-bottom: 2em;
}

.portal-type-zopyx-policy-projectreference  .bx-default-pager a.active  {
    background-color: rgb(171,171,19) !important;
}


.fancybox-overlay {
    z-index: 9999 !important;
}

.wrapper {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.box {
    margin: auto !important;
    display: table-cell !important;
    margin-right: 25px !important;
    vertical-align: middle !important;
    width: 150px !important;
    height: 150px;
    position: relative !important;
    padding-right: 30px !important;
}

table#impressum td {
    vertical-align: top;
}

table#andreas-jung-table td {
    width: 50%;
    padding-right: 1em;
    vertical-align: top;
}

@media only screen and (max-device-width : 480px) {
    #slider-container,
    #ref-slider {
        display:  none;
    }
    .keyvisual {
        height: 0;
    }
    #brand-logo {
        width: 100px;
    }
}

@media only screen and (min-width: 480px) and (max-width : 768px) {
    #project-reference-4,
    #project-reference-5 {
        display:  none !important;
    }
}

@media only screen and (min-width: 769px) and (max-width : 1024px) {
    #project-reference-5 {
        display:  none !important;
    }

    #nav-kontakt {
    }
}

a.email-link:hover,
a.email-link {
    color: rgb(51,51,51);
}


/* Product & Publish */
.context-konverteroptionen table,
.context-vergleich-mit-anderen-loesungen table {
    border: 1px solid #ddd;    
    width: 100%;
    font-size: 1em;
}

.context-konverteroptionen table td,
.context-vergleich-mit-anderen-loesungen table td {
    border: 1px solid #ddd;    
    padding: 0.25em;
    padding-right: 1em;
    min-width: 150px;
    vertical-align: top;
}

.section-produce-and-publish-de .tags {
    display: none;
}


