#referencesSlider {
    height: 150px;
/*    border: 1px solid blue;*/
    vertical-align: middle !important;
}
#referencesSlider img {
    width: 150px;
    padding-left: 50px;
    padding-right: 50px;
/*    border: 1px solid green;*/
}

#referencesSlider a {
/*    border: 1px solid pink;*/
}

