#referencesSlider {
    height: 150px;
    vertical-align: middle !important;
}
#referencesSlider img {
    width: 150px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    vertical-align: middle;
}

#referencesSlider .item {
    line-height: 150px;
    height: 150px;
    padding-left: 100px;
    text-align: center;
    float: left;
}
